attrs
matplotlib
cycler # matplotlib dependency -- should be installed automatically but it wasn't when tested on eng cml cluster
scikit-learn
spacy
spacy-transformers
transformers
torch
streamlit
networkx
pytextrank
wikipedia
-e .